<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>DD996E94-CBC3-4B03-B6F1-5358E123333A</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>170331664789652</integer>
		<key>UUID</key>
		<string>4C639761-0A9D-4FCE-A801-1049FA63F1C2</string>
		<key>WallTime</key>
		<integer>1789449106000000000</integer>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>170148664789652</integer>
			<key>UUID</key>
			<string>4C639761-0A9D-4FCE-A801-1049FA63F1C2</string>
			<key>WallTime</key>
			<integer>1789448923000000000</integer>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>170148664789652</integer>
			<key>UUID</key>
			<string>4C639761-0A9D-4FCE-A801-1049FA63F1C2</string>
			<key>WallTime</key>
			<integer>1789448923000000000</integer>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>5</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-1861.100.19</string>
	<key>OSLoggingSupportVersion</key>
	<real>1861.0999999999999</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>170148664789652</integer>
			<key>UUID</key>
			<string>4C639761-0A9D-4FCE-A801-1049FA63F1C2</string>
			<key>WallTime</key>
			<integer>1789448923000000000</integer>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>170148664789652</integer>
			<key>UUID</key>
			<string>4C639761-0A9D-4FCE-A801-1049FA63F1C2</string>
			<key>WallTime</key>
			<integer>1789448923000000000</integer>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SourceIdentifier</key>
	<string>853E5091-C66E-49FC-B0FC-11B5CBD1F446</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>170148664789652</integer>
			<key>UUID</key>
			<string>4C639761-0A9D-4FCE-A801-1049FA63F1C2</string>
			<key>WallTime</key>
			<integer>1789448923000000000</integer>
		</dict>
		<key>TTL</key>
		<dict/>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>18446744073709551615</integer>
</dict>
</plist>
